.blog-content {
    position: relative;
    width: 100%;
}

.blog-post {
    margin: 0 auto;
    padding: 1em;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.hero-image img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1em;
}

.title {
  text-align: left;
  margin: 0.5em 0;
  display: flex;
}

.title:hover {
  color: rgb(255, 105, 180, 0.45);
}

.date {
  text-align: center;
  color: rgb(var(--gray));
  font-size: 0.9em;
  margin-bottom: 1em;
}

.last-updated {
  font-style: italic;
  font-size: 0.85em;
}

.prose {
  line-height: 1.7;
  color: rgb(var(--gray-dark));
}

