.calendar-container {
    border-radius: 12px;
    width: 95%;
    padding: 12px;
    background-color: rgb(var(--juliet-pink)/0.05);
    box-sizing: border-box;
}

.calendar-title {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    margin: 0 0 10px 0;
    padding-left: 1rem;
}

.calendar-title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 72%;
    background-color: rgb(var(--juliet-pink));
    border-radius: 2px;
}

.calendar-grid-container {
    margin-bottom: 12px;
}

.calendar-header h3 {
    font-size: 1.5rem;
    margin: 0 0 8px 0;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
}

.calendar-day-week {
    text-align: center;
    color: rgb(96, 115, 159);
}

.calendar-day {
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.calendar-day.today {
    color: rgb(var(--juliet-pink));
    font-weight: 600;
    border-radius: 100px;
}


.calendar-day:hover {
    background-color: rgb(var(--juliet-pink));
    color: #fff;
}

.calendar-day.empty {
    background: none;
    cursor: default;
}

/* 统计区域 */
.calendar-stats {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #333;
}

.calendar-stats p {
    margin: 2px 0;
}

