.LeftbarContainer {
    padding: 0px;
    padding-left: 40px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 300px;
    flex-shrink: 0;
    position: sticky;
    top: 40px;
    height: 100vh;
}


.Leftbar-moduleB {
    padding: 20px;
    border-radius: 12px;
    border: 0px solid #e5e5e5;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05);
}

.Leftbar-moduleB h1 {
    font-size: 1.8rem;
    position: relative;
    padding-left: 0.8rem;
}

.Leftbar-moduleB h1::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 75%;
    background-color: rgb(var(--juliet-pink));
    border-radius: 2px;
}

.Leftbar-moduleC {
    padding: 20px;
    border-radius: 12px;
    border: 0px solid #e5e5e5;
    box-shadow: 0 3px 6px rgba(0,0,0,0.05);
}

.Leftbar-moduleC h1 {
    font-size: 1.8rem;
    position: relative;
    padding-left: 0.8rem;
}

.Leftbar-moduleC h1::before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 75%;
    background-color: rgb(var(--juliet-pink));
    border-radius: 2px;
}

@media (max-width: 1200px) {
    .LeftbarContainer{
        width: 89%;
        border-left: none;
        border-top: 1px solid #e5e5e5;
        order: 1;
        height: 60vh;
    }

    .Leftbar-moduleB {
        display: none;
    }

    .Leftbar-moduleC {
        display: none;
    }
}

@media (max-width: 480px) {
    .LeftbarContainer{
        width: 80%;
        border-left: none;
        border-top: 1px solid #e5e5e5;
        order: 1;
        height: auto;
        padding: 30px;
    }

    .Leftbar-moduleB {
        display: none;
    }

    .Leftbar-moduleC {
        display: none;
    }
}
