.LeftbarContainer {
    padding: 0px;
    padding-left: 40px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 300px;
    flex-shrink: 0;
    position: sticky;
    top: 40px;
    height: 100vh;
}


.Leftbar-moduleB {
    background-color: rgba(255, 182, 193, 0.15);
    padding: 20px;
    border-radius: 12px;
    border: 0px solid #e5e5e5;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.Leftbar-moduleC {
    background-color: rgba(255, 182, 193, 0.15);
    padding: 20px;
    border-radius: 12px;
    border: 0px solid #e5e5e5;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}



@media (max-width: 1200px) {
    .LeftbarContainer{
        width: 89%;
        border-left: none;
        border-top: 1px solid #e5e5e5;
        order: 1;
        height: 60vh;
    }

    .Leftbar-moduleB {
        display: none;
    }

    .Leftbar-moduleC {
        display: none;
    }
}

@media (max-width: 480px) {
    .LeftbarContainer{
        width: 80%;
        border-left: none;
        border-top: 1px solid #e5e5e5;
        order: 1;
        height: auto;
        padding: 30px;
    }

    .Leftbar-moduleB {
        display: none;
    }

    .Leftbar-moduleC {
        display: none;
    }
}
