/* 容器样式 */
.license-container {
    padding: 1.5rem;
}

.license-container h1 {
    font-size: 1.8rem;
    font-weight: 600;
    padding-left: 1rem;
    position: relative;
    top: 0;
    margin: 0 0 1rem 0;
}

.license-container > h1::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 4px;
    height: 72%;
    background: rgb(var(--juliet-pink));
    font-size: 1.5rem;
    border-radius: 2px;
}

/* 卡片样式 */
.license-card {
    background-color: rgb(var(--juliet-pink)/0.03); /* 背景色 */
    border-radius: 12px;     /* 圆角 */
    padding: 1.2rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08); /* 轻微阴影 */
}

/* 标题样式 */
.license-title {
    font-size: 1.5rem !important;
    font-weight: 600;
    margin-bottom: 0.3rem;
    padding-left: 0 !important;
}

/* 链接样式 */
.blog-link a {
    color: rgb(var(--juliet-hotpink)/0.7);
    text-decoration: none;
    word-break: break-all; /* 防止链接过长撑破布局 */
    font-size: 1.2rem;
}

.blog-link a:hover {
    text-decoration: underline;
}

/* 元信息容器：横向排列 */
.license-meta {
    display: flex;
    gap: 1.5rem;                   /* 元素间距 */
    font-size: 0.95rem;
    color: #666;
    flex-wrap: wrap;
}

/* 元信息项样式，添加竖线分隔 */
.license-meta-item {
    display: flex;
    flex-direction: column;
    gap: 3px
}

.label {
  font-weight: 600;
}

.value {
  white-space: nowrap; /* 内容不换行 */
}

.license-link {
    color: rgb(var(--juliet-hotpink)/0.7);
    text-decoration: underline;
    font-weight: 600;
}

.license-link:hover {
    color: rgb(var(--juliet-hotpink)/0.85);
}

