---
const today = new Date();

---

<footer>
    &copy; {today.getFullYear()} NeoJuliet. All rights reserved.
    <div class="footer-tech">Powered by Astro</div>
</footer>
<style>
	footer {
        padding: 25px;
        background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
    }
    
</style>
