---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import ModuleA from '../components/sidebar/moduleA.astro';
import ModuleB from '../components/sidebar/moduleB.astro';
import ModuleC from '../components/sidebar/moduleC.astro';

import '../styles/LeftbarContainer.css';

const { rightbar } = Astro.props ?? {};

---
<html lang="en">
    <head>
        <slot name="head" />
    </head>
    <body>
        <script src="/scripts/theme.js" defer></script>
        <Header />
        <div class="layout">
            <!--左侧边栏--!>
            <div class="LeftbarContainer">
                <ModuleA />
                <ModuleB />
                <ModuleC />
            </div>

            <!--中间内容--!>
            <main class="content">
                <slot />
            </main>
            
            <!--右侧边栏--!>
            <slot name="rightbar" />
        </div>
        <Footer />
    </body>
</html>

