---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { ViewTransitions } from 'astro:transitions';

const { rightbar } = Astro.props ?? {};
---
<html lang="en">
    <head>
    <ViewTransitions />
        <script>
            const saved = localStorage.getItem("theme");
            if (saved && saved !== "default") {
                document.documentElement.dataset.theme = saved;
            }
        </script>

        <slot name="head" />
    </head>
    <body>
        <!-- 保留，用于交互 -->
        <script src="/scripts/theme.js" defer></script>
        <script type="module" src="/scripts/init-typing.js"></script>
        <script type="module" src="/scripts/init-toc.js"></script>
        <script type="module" src="/scripts/init-giscus.js"></script>
        <script type="module" src="/scripts/init-calendar.js"></script>
        <Header />
        <div class="layout">
            <!--左侧边栏-->
            <aside class="sidebar-left">
                <slot name="leftbar" />
            </aside>

            <!--中间内容-->
            <main class="content">
                <slot />
            </main>

            <!--右侧边栏-->
            <aside class="sidebar-right">
                <slot name="rightbar" />
            </aside>
        </div>
        <Footer />
    </body>
</html>
