---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { rightbar } = Astro.props ?? {};
---
<html lang="en">
    <head>
        <slot name="head" />
    </head>
    <body>
        <script src="/scripts/theme.js" defer></script>
        <Header />
        <div class="layout">
            <!--左侧边栏--!>
            <aside class="sidebar-left">
                <slot name="leftbar" />
            </aside>

            <!--中间内容--!>
            <main class="content">
                <slot />
            </main>
            <!--右侧边栏--!>
            <aside class="sidebar-right">
                <slot name="rightbar" />
            </aside>
        </div>
        <Footer />
    </body>
</html>

